#Operaciones con dataframes

    Para trabajar en este notebook se requiere descargar el CSV del siguiente Link:
    https://www.kaggle.com/hmavrodiev/london-bike-sharing-dataset y lo guardamos en el mismo directorio que el notebook.

Las operaciones tales como suma, resta, multiplicacíón y division por escalares, se realizan realizando de forma rutinaria la operación a cada uno de los valores del df, o de la columna especificada.

Así mismo, las operaciones entre columnas se desarrollan en una relación 1:1, es decir para cada valor de la columna A, le corresponde un valor de la columna B.

Caso particular: cuando se aplica un filtro a una de las columnas que se operan y a la segunda no, las resultados de dichas operaciones para los valores no incluidos corresponde a NaN.

___

__*Operaciones aritmeticas:*__ corresponden a las operaciones basicas, salvo que corresponden a metodos de pandas que cuentan con metodos que permiten agregar valores a los resultados de tipo NaN.

- add(): Suma
- sub(): resta
- mul(): multiplicación
- truediv(): división 
- floordiv(): división entera
- mod(): división modular
- pow(): potencia

> estas operaciones cuentan con el __*kwargs*__ *fill_values*, que permite rellenar los valores de NaN de la columna filtrada con un valor predeterminado, de manera que se pueda realizar la operación.

__*Operaciones alegabraicas:*__ corresponden a las operaciones de matrices como:

- dot(): producto de punto de dos matrices

In [3]:
import pandas as pd
import numpy as np

pd.__version__

'1.4.0'

In [1]:
!ls

1inicio.ipynb	  3operaciones.ipynb	  london_merged.csv    test.csv
2dataframe.ipynb  Meteorite_Landings.csv  magicCommands.ipynb

In [59]:
df=pd.read_csv('london_merged.csv')
df.head(4)

,timestamp,cnt,t1,t2,hum,wind_speed,weather_code,is_holiday,is_weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,93.0,6.0,3.0,0.0,1.0,3.0
1,2015-01-04 01:00:00,138,3.0,2.5,93.0,5.0,1.0,0.0,1.0,3.0
2,2015-01-04 02:00:00,134,2.5,2.5,96.5,0.0,1.0,0.0,1.0,3.0
3,2015-01-04 03:00:00,72,2.0,2.0,100.0,0.0,1.0,0.0,1.0,3.0

In [7]:
london = df.copy(deep=True)

In [10]:
london['timestamp'] = pd.to_datetime(london['timestamp'],'coerce')
london.dtypes

timestamp       datetime64[ns]
cnt                      int64
t1                     float64
t2                     float64
hum                    float64
wind_speed             float64
weather_code           float64
is_holiday             float64
is_weekend             float64
season                 float64
dtype: object

In [11]:
london['hour'] = london['timestamp'].dt.hour
london

In [60]:
london.drop(['timestamp'], axis=1, inplace=True)

KeyError: "['timestamp'] not found in axis"

In [61]:
df['t1'].iloc[::3]-df['t2']

0        1.0
1        NaN
2        NaN
3        0.0
6        NaN
        ...
17400    NaN
17403    NaN
17406    NaN
17409    NaN
17412    NaN
Length: 5807, dtype: float64

In [17]:
df['t1']-df['t2'].iloc[::3]

0        1.0
1        NaN
2        NaN
3        0.0
4        NaN
        ...
17409    4.0
17410    NaN
17411    NaN
17412    4.0
17413    NaN
Length: 17414, dtype: float64

In [18]:
df['t1'].sub(df['t2'].iloc[::3], fill_value=0)

0        1.0
1        3.0
2        2.5
3        0.0
4        2.0
        ...
17409    4.0
17410    5.0
17411    5.5
17412    4.0
17413    5.0
Length: 17414, dtype: float64

In [26]:
a=np.array([1,3])
b=np.array([-5,2])
c=a.dot(b)
c

1

In [27]:
#producto punto de una columna por si mismo, da la norma de la columna, o mejor dicho su norma.
df['t1'].dot(df['t1'])

3247652.777777778

## funciones con elementos de pandas y numpy

Cuando se crea una funcion, y se le aplica un array, el codigo al interior de la funcion se aplica a cada uno de los valores del array, esto mismo se puede aplicar al df.

para aplicar la funcion a un df se puede realizar de dos formas:
1. la forma tradicional, en donde se pasa el df como un argumento normal.
2. se utiliza el metodo __*.apply()*__, en el cual dentro de los () se inserta la funcion a ejecutar.

__*.apply()*__:

sin embargo cuando la funcion cuenta con argumentos, se debe utilizar el __*kwargs*__ args en donde se insertan los argumentos en el orden especificado en la funcion.

tambien si no se desea utilizar el __*kwargs*__ args, se pueden especificar directamente los Kwargs de la funcion dentro de .apply()

Tambien se pueden utilizar funciones lambda tanto a una columna o fila especifica, como a toda el df.

Cuando se aplican estadisticos dentro de una funcion lambda, se debe tener cuidado dado que de acuerdo como se aplique pueden calcularse para las columnas como para las filas


filas: se agrega el kwargs axis, especificando que se ve a calcular para el eje 1, esto significa que los valores que se van a promediar son aquellos correspondientes a las columnas de cada fila de manera que se obtiene el promedio para cada fila.

columnas: se especifica que el kwargs axis es igual a 0, es decir que se van a promediar todos los valores presentes en las filas de cada columna, de manera que se obtiene el promedio de cada columna.

___

__*.applymap()*__: se utiliza cuando se quiere realizar una transformación a todos los valores del df de forma independiente.

In [30]:
def fun_1(x):
    y = x**2 + 1
    return y

print(f'a es {a}')
fun_1(a)

a es [1 3]

array([ 2, 10])

In [53]:
matriz= pd.DataFrame()
matriz['hora'] = london['hour']
matriz['funcion'] = london['hour'].apply(fun_1)
matriz.sample(10)

       hora  funcion
654       7       50
9210     15      226
1955     13      170
5186     17      290
10273     6       37
15414    14      197
10627     0        1
14083    12      145
2403     11      122
12045    18      325

In [62]:
def fun_2(x, a=1, b=0):
    y=x**2 + a*x + b
    return y

matriz['funcion2']= fun_2(london['hour'], a=20, b=-100)
matriz.sample(5)

       hora  funcion  funcion2
128       9       82       161
1180      6       37        56
15672     8       65       124
15467    19      362       641
4906      1        2       -79

In [63]:
matriz['funcion2']= london['hour'].apply(fun_2, args=(20, -100), )
matriz.sample(5)

       hora  funcion  funcion2
17310    16      257       476
7207     15      226       425
4981      4       17        -4
10794    14      197       376
6733     14      197       376

In [64]:
matriz['funcion2']= london['hour'].apply(fun_2, a=20, b=-100) 
matriz.sample(5)

       hora  funcion  funcion2
7014     13      170       329
10626    23      530       889
2553     17      290       529
10025    22      485       824
13598     2        5       -56

In [71]:
matriz['lambda']= london['hour'].apply(lambda x:x-12 if not x<=12 else x)
matriz.sample(5)

       hora  funcion  funcion2  lambda
10522    15      226       425       3
4175     10      101       200      10
10779    23      530       889      11
2613      5       26        25       5
715      20      401       700       8

In [91]:
matriz['lambda (mean)']= matriz.apply(lambda x: x.mean(), axis=1)
matriz.sample(5)

       hora  funcion  funcion2  lambda  lambda (mean)
7654     14      197       376       2         147.25
10029     2        5       -56       2         -11.75
11173    10      101       200      10          80.25
5930     17      290       529       5         210.25
9871     12      145       284      12         113.25

In [93]:
matriz.apply(lambda x: x.mean())

hora              11.513265
funcion          181.382106
funcion2         310.647410
lambda             6.001838
lambda (mean)    127.386155
dtype: float64

In [95]:
matriz.applymap(lambda x: x*-1 if x<0 else x)

       hora  funcion  funcion2  lambda  lambda (mean)
0         0        1       100       0          24.75
1         1        2        79       1          18.75
2         2        5        56       2          11.75
3         3       10        31       3           3.75
4         4       17         4       4           5.25
...     ...      ...       ...     ...            ...
17409    19      362       641       7         257.25
17410    20      401       700       8         282.25
17411    21      442       761       9         308.25
17412    22      485       824      10         335.25
17413    23      530       889      11         363.25

[17414 rows x 5 columns]